{{#if isLoggedIn}}
  <h1>Dashboard</h1>
  <p>Hello, {{username}} </p>
  <a href="/newpost">Blog About IT</a>

  <h4>Post history</h4>
  <h5>{{username}}'s Posts</h5>
  <ul>
    {{#each posts}}
    <li>{{title}} <a href="/editpost/{{id}}">edit</a></li>
    {{/each}}
  </ul>
  {{else}}
  <h1>Please <a href="/login">sign in</a> to view your dashboard</h1>
{{/if}}