<p class="text-center">This Project was developed as a means for registered users to have the opportunity to blog about tech related
topics, view other users blog posts andcomment on those posts that compel them to do so. This project was
developed as a part of the UCI 3 month full stack web development bootcamp at the close of year 2021, and start of
year 2022.</p>

<ul class="list-group">
{{#each posts}}
<li class="list-group-item">
  <div class="ms-2 me-auto">
    <div class="fw-bold">
      <a href="/post/{{id}}">{{title}}</a>
    </div>
    <sub>Posted by {{'User.username'}} and created on {{createdAt}}</sub>
    <p>{{body}}</p>
  </div>
</li>
{{/each}}
</ul>